body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
html {
    box-sizing: border-box;
}
ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
input::placeholder{
    color: #a3a2a2;
}
.icon-item {
    @include centered();
    padding-right: 20px;
    &__img {
        margin-right: 10px;
    }
    &__text {
        font-size: .7815rem;
    }
}
.search {
    @include stretched();
    flex-wrap: wrap;
    input {
        width: 90%;
        border: 0;
        outline: none;
        height: 20px;
        font-size: 16px;
    }
    &__underline {
        width: 100%;
        height: 1px;
        background-color: $black-color;
        margin-top: 8px;
    }
    img {
        cursor: pointer;
    }
}
.basket {
    position: relative;
    cursor: pointer;
    img {
        display: block;
    }
    &_empty {
        .circle {
            display: none;
        }
    }
}
.circle {
    @include centered();
    justify-content: center;
    @include absolute-pos(20px, 16px); 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $pink-color;
    &__text {
        font-size: 11px;
        font-weight: 900;
        color: #ffffff;
    }
}
.hamburger {
    display: none;
}  
  
  
  